{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'static/accounts/css/style1.css' %}">
</head>
<body>
    <!-- Navbar Start -->
<nav class="navbar">
    <div class="container">
        <!-- Circle Logo -->
        <div style="display: flex; align-items: center;">
            <div class="circle"></div>
            <a href="/" class="name">TalkHub</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
        </ul>
    </div>
</nav>
<!-- Navbar End -->

<!-- Main Content Start -->
<main>
    <div class="content-row">
        <div class="Quotes">
            Connect, Play, Improve:<br>
            Build Social Confidence<br>
            Through Games!<br>
            <button class="start-button" onclick="startGame()">Start Game</button>
        </div>
        <div class="image">
            <img src="img1.png" alt="Sample Image">
        </div>
    </div>
    
   
</main>
<!-- Main Content End -->
 

<script>
    function startGame() {
        alert("Game Starting... Connect with a random player!");
        // Here you can implement your logic to start the game
    }
    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 TalkHUb. All Rights Reserved.</p>
    </div>

    <script src="{% static 'accounts/js/script.js' %}"></script>
</body>
</html>
